<div class="piano">
    <div class="piano-container">

        <div class="mainkey">
            <div class="@(chord.RelativeStepsFromC.Contains(0) ? "white-high" : "white")"></div>
            <div class="@(chord.RelativeStepsFromC.Contains(1) ? "black-high" : "black")"></div>
        </div>
        <div class="mainkey">
            <div class="@(chord.RelativeStepsFromC.Contains(2) ? "white-high" : "white")"></div>
            <div class="@(chord.RelativeStepsFromC.Contains(3) ? "black-high" : "black")"></div>
        </div>
        <div class="mainkey">
            <div class="@(chord.RelativeStepsFromC.Contains(4) ? "white-high" : "white")"></div>
        </div>
        <div class="mainkey">
            <div class="@(chord.RelativeStepsFromC.Contains(5) ? "white-high" : "white")"></div>
            <div class="@(chord.RelativeStepsFromC.Contains(6) ? "black-high" : "black")"></div>
        </div>
        <div class="mainkey">
            <div class="@(chord.RelativeStepsFromC.Contains(7) ? "white-high" : "white")"></div>
            <div class="@(chord.RelativeStepsFromC.Contains(8) ? "black-high" : "black")"></div>
        </div>
        <div class="mainkey">
            <div class="@(chord.RelativeStepsFromC.Contains(9) ? "white-high" : "white")"></div>
            <div class="@(chord.RelativeStepsFromC.Contains(10) ? "black-high" : "black")"></div>
        </div>
        <div class="mainkey">
            <div class="@(chord.RelativeStepsFromC.Contains(11) ? "white-high" : "white")"></div>
        </div>


        <div class="mainkey">
            <div class="@(chord.RelativeStepsFromC.Contains(12) ? "white-high" : "white")"></div>
            <div class="@(chord.RelativeStepsFromC.Contains(13) ? "black-high" : "black")"></div>
        </div>
        <div class="mainkey">
            <div class="@(chord.RelativeStepsFromC.Contains(14) ? "white-high" : "white")"></div>
            <div class="@(chord.RelativeStepsFromC.Contains(15) ? "black-high" : "black")"></div>
        </div>
        <div class="mainkey">
            <div class="@(chord.RelativeStepsFromC.Contains(16) ? "white-high" : "white")"></div>
        </div>
        <div class="mainkey">
            <div class="@(chord.RelativeStepsFromC.Contains(17) ? "white-high" : "white")"></div>
            <div class="@(chord.RelativeStepsFromC.Contains(18) ? "black-high" : "black")"></div>
        </div>
        <div class="mainkey">
            <div class="@(chord.RelativeStepsFromC.Contains(19) ? "white-high" : "white")"></div>
            <div class="@(chord.RelativeStepsFromC.Contains(20) ? "black-high" : "black")"></div>
        </div>
        <div class="mainkey">
            <div class="@(chord.RelativeStepsFromC.Contains(21) ? "white-high" : "white")"></div>
            <div class="@(chord.RelativeStepsFromC.Contains(22) ? "black-high" : "black")"></div>
        </div>
        <div class="mainkey">
            <div class="@(chord.RelativeStepsFromC.Contains(23) ? "white-high" : "white")"></div>
        </div>



        <div class="mainkey">
            <div class="@(chord.RelativeStepsFromC.Contains(24) ? "white-high" : "white")"></div>
            <div class="@(chord.RelativeStepsFromC.Contains(25) ? "black-high" : "black")"></div>
        </div>
        <div class="mainkey">
            <div class="@(chord.RelativeStepsFromC.Contains(26) ? "white-high" : "white")"></div>
            <div class="@(chord.RelativeStepsFromC.Contains(27) ? "black-high" : "black")"></div>
        </div>
        <div class="mainkey">
            <div class="@(chord.RelativeStepsFromC.Contains(28) ? "white-high" : "white")"></div>
        </div>
        <div class="mainkey">
            <div class="@(chord.RelativeStepsFromC.Contains(29) ? "white-high" : "white")"></div>
            <div class="@(chord.RelativeStepsFromC.Contains(30) ? "black-high" : "black")"></div>
        </div>
        <div class="mainkey">
            <div class="@(chord.RelativeStepsFromC.Contains(31) ? "white-high" : "white")"></div>
            <div class="@(chord.RelativeStepsFromC.Contains(32) ? "black-high" : "black")"></div>
        </div>
        <div class="mainkey">
            <div class="@(chord.RelativeStepsFromC.Contains(33) ? "white-high" : "white")"></div>
            <div class="@(chord.RelativeStepsFromC.Contains(34) ? "black-high" : "black")"></div>
        </div>
        <div class="mainkey">
            <div class="@(chord.RelativeStepsFromC.Contains(35) ? "white-high" : "white")"></div>
        </div>




    </div>
</div>


<!--<div class="pianocontainer">
    <div class="white key c"></div>
    <div class="black key c#"></div>
    <div class="white key d"></div>
    <div class="black key d#"></div>
    <div class="white key e"></div>
    <div class="white key f"></div>
    <div class="black key f#"></div>
    <div class="white key g"></div>
    <div class="black key g#"></div>
    <div class="white key a"></div>
    <div class="black key a#"></div>
    <div class="white key b"></div>

    <div class="white key c"></div>
    <div class="black key c#"></div>
    <div class="white key d"></div>
    <div class="black key d#"></div>
    <div class="white key e"></div>
    <div class="white key f"></div>
    <div class="black key f#"></div>
    <div class="white key g"></div>
    <div class="black key g#"></div>
    <div class="white key a"></div>
    <div class="black key a#"></div>
    <div class="white key b"></div>

    <div class="white key c"></div>
    <div class="black key c#"></div>
    <div class="white key d"></div>
    <div class="black key d#"></div>
    <div class="white key e"></div>
    <div class="white key f"></div>
    <div class="black key f#"></div>
    <div class="white key g"></div>
    <div class="black key g#"></div>
    <div class="white key a"></div>
    <div class="black key a#"></div>
    <div class="white key b"></div>
</div>-->
