<div class="piano">
    <div class="piano-container">
        <div class="mainkey">
            <div class="@(halfsteps.Contains(0) ? "white-high" : "white")"></div>
            <div class="@(halfsteps.Contains(1) ? "black-high" : "black")"></div>
        </div>
        <div class="mainkey">
            <div class="@(halfsteps.Contains(2) ? "white-high" : "white")"></div>
            <div class="@(halfsteps.Contains(3) ? "black-high" : "black")"></div>
        </div>
        <div class="mainkey">
            <div class="@(halfsteps.Contains(4) ? "white-high" : "white")"></div>
        </div>
        <div class="mainkey">
            <div class="@(halfsteps.Contains(5) ? "white-high" : "white")"></div>
            <div class="@(halfsteps.Contains(6) ? "black-high" : "black")"></div>
        </div>
        <div class="mainkey">
            <div class="@(halfsteps.Contains(7) ? "white-high" : "white")"></div>
            <div class="@(halfsteps.Contains(8) ? "black-high" : "black")"></div>
        </div>
        <div class="mainkey">
            <div class="@(halfsteps.Contains(9) ? "white-high" : "white")"></div>
            <div class="@(halfsteps.Contains(10) ? "black-high" : "black")"></div>
        </div>
        <div class="mainkey">
            <div class="@(halfsteps.Contains(11) ? "white-high" : "white")"></div>
        </div>
        <div class="mainkey">
            <div class="@(halfsteps.Contains(12) ? "white-high" : "white")"></div>
            <div class="@(halfsteps.Contains(13) ? "black-high" : "black")"></div>
        </div>
        <div class="mainkey">
            <div class="@(halfsteps.Contains(14) ? "white-high" : "white")"></div>
            <div class="@(halfsteps.Contains(15) ? "black-high" : "black")"></div>
        </div>
        <div class="mainkey">
            <div class="@(halfsteps.Contains(16) ? "white-high" : "white")"></div>
        </div>
        <div class="mainkey">
            <div class="@(halfsteps.Contains(17) ? "white-high" : "white")"></div>
            <div class="@(halfsteps.Contains(18) ? "black-high" : "black")"></div>
        </div>
        <div class="mainkey">
            <div class="@(halfsteps.Contains(19) ? "white-high" : "white")"></div>
            <div class="@(halfsteps.Contains(20) ? "black-high" : "black")"></div>
        </div>
        <div class="mainkey">
            <div class="@(halfsteps.Contains(21) ? "white-high" : "white")"></div>
            <div class="@(halfsteps.Contains(22) ? "black-high" : "black")"></div>
        </div>
        <div class="mainkey">
            <div class="@(halfsteps.Contains(23) ? "white-high" : "white")"></div>
        </div>
        <div class="mainkey">
            <div class="@(halfsteps.Contains(24) ? "white-high" : "white")"></div>
            <div class="@(halfsteps.Contains(25) ? "black-high" : "black")"></div>
        </div>
        <div class="mainkey">
            <div class="@(halfsteps.Contains(26) ? "white-high" : "white")"></div>
            <div class="@(halfsteps.Contains(27) ? "black-high" : "black")"></div>
        </div>
        <div class="mainkey">
            <div class="@(halfsteps.Contains(28) ? "white-high" : "white")"></div>
        </div>
        <div class="mainkey">
            <div class="@(halfsteps.Contains(29) ? "white-high" : "white")"></div>
            <div class="@(halfsteps.Contains(30) ? "black-high" : "black")"></div>
        </div>
        <div class="mainkey">
            <div class="@(halfsteps.Contains(31) ? "white-high" : "white")"></div>
            <div class="@(halfsteps.Contains(32) ? "black-high" : "black")"></div>
        </div>
        <div class="mainkey">
            <div class="@(halfsteps.Contains(33) ? "white-high" : "white")"></div>
            <div class="@(halfsteps.Contains(34) ? "black-high" : "black")"></div>
        </div>
        <div class="mainkey">
            <div class="@(halfsteps.Contains(35) ? "white-high" : "white")"></div>
        </div>
    </div>
</div>
